<table class="table table-striped">
  <tr>
    <th>Case ID</th>
    <th>Status</th>
    <th>Category</th>
    <th>Type</th>
    <th>Lat</th>
    <th>Lon</th>
  </tr>
  <% @reports.each do |report| %>
  <tr>
    <th>
      <a href="/<%= report[:case_id] %>">
        <%= report[:case_id] %>
      </a>
    </th>
    <th><%= report[:status] %></th>
    <th><%= report[:category] %></th>
    <th><%= report[:type] %></th>
    <th><%= report[:lat] %></th>
    <th><%= report[:lon] %></th>
  </tr>
  <% end %>
</table>
